@page "/workout-in-progress"

@inject NavigationManager NavigationManager
@inject IGetActiveWorkoutUseCase GetActiveWorkoutUseCase
@inject IEndWorkoutUseCase EndWorkoutUseCase

<PageTitle>@_activeWorkout?.Name</PageTitle>

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudCard>
                <MudCardContent>
                    <MudText Typo="Typo.h4">@_activeWorkout?.Name</MudText>
                    <MudText Typo="Typo.body1">Duration: @_exerciseDuration.ToString(@"hh\:mm\:ss")</MudText>
                </MudCardContent>
            </MudCard>
        </CardHeaderContent>
    </MudCardHeader>

    <MudCardContent>
        @if (_activeWorkout == null)
        {
            <MudText Typo="Typo.h5">No workout in progress.</MudText>
            <MudCardActions>
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           Href="/workouts">
                    Back to Workouts
                </MudButton>
            </MudCardActions>
        }
        else
        {
            @for (int i = 0; i < _exerciseViewModels.Count; i++)
            {
                var exerciseViewModel = _exerciseViewModels[i];

                <MudCard Elevation="0">
                    <MudCardContent>
                        <MudSimpleTable Dense Elevation="3">
                            <thead>
                                <tr>
                                    <th>@exerciseViewModel.Exercise.Name</th>
                                    <th>Reps</th>
                                    <th>Weight</th>
                                    <th>Set Status</th>
                                    <th>Rest Timer</th>
                                    <th>
                                        <MudMenu Icon="@Icons.Material.Filled.MoreVert"
                                                 AriaLabel="Open workout options"
                                                 AnchorOrigin="Origin.BottomCenter"
                                                 TransformOrigin="Origin.TopCenter" >
                                            <MudMenuItem Icon="@Icons.Material.Filled.AddCircle"
                                                         IconColor="Color.Success">
                                                         Add Set
                                            </MudMenuItem>
                                            <MudMenuItem Icon="@Icons.Material.Filled.Delete"
                                                         IconColor="Color.Error">
                                                         Delete Exercise
                                            </MudMenuItem>
                                        </MudMenu>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int j = 0; j < exerciseViewModel.Sets.Count; j++)
                                {
                                    var setViewModel = exerciseViewModel.Sets[j];

                                    <tr>
                                        <td>@($"Set {j + 1}")</td>
                                        <td>
                                            <MudNumericField @bind-Value="setViewModel.ExerciseSet.Reps"
                                                             Variant="Variant.Outlined"
                                                             Margin="Margin.Dense" />
                                        </td>
                                        <td>
                                            <MudNumericField @bind-Value="setViewModel.ExerciseSet.Weight"
                                                             Variant="Variant.Outlined"
                                                             Margin="Margin.Dense" />
                                        </td>
                                        <td>
                                            @if (!setViewModel.IsCompleted)
                                            {
                                                <MudTooltip Text="Mark Set Complete">
                                                    <MudIconButton Icon="@Icons.Material.Outlined.CheckCircleOutline"
                                                                   Color="Color.Dark"
                                                                   Size="Size.Medium"
                                                                   OnClick="() => CompleteSet(exerciseViewModel, setViewModel)" />
                                                </MudTooltip>
                                            }
                                            else
                                            {
                                                <MudTooltip Text="Set Complete">
                                                    <MudIconButton Icon="@Icons.Material.Outlined.CheckCircleOutline"
                                                                   Color="Color.Success"
                                                                   Size="Size.Medium"
                                                                   OnClick="() => ResetSet(setViewModel)" />
                                                </MudTooltip>
                                            }
                                        </td>
                                        <td>
                                            @if (setViewModel.IsCompleted && setViewModel.InitialRestTime > 0 && setViewModel.RemainingRestTime >= 0)
                                            {
                                                <MudText>@TimeSpan.FromSeconds(setViewModel.RemainingRestTime).ToString(@"mm\:ss")</MudText>
                                            }
                                        </td>
                                        <td> 
                                            <MudTooltip Text="Delete Set">
                                                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                                               Color="Color.Error"
                                                                   OnClick="() => DeleteSet(exerciseViewModel, setViewModel)" />
                                            </MudTooltip>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </MudSimpleTable>
                    </MudCardContent>
                </MudCard>
            }
        }
    </MudCardContent>
</MudCard>

<br />

<MudButton Variant="Variant.Text"
           Color="Color.Secondary"
           OnClick="EndWorkout">
           End Workout
</MudButton>

@code {
    private Workout? _activeWorkout;
    private TimeSpan _exerciseDuration;

    // List of ExerciseViewModels to hold persistent view models for each exercise
    private List<ExerciseViewModel> _exerciseViewModels = new();

    protected override async Task OnInitializedAsync()
    {
        _activeWorkout = await GetActiveWorkoutUseCase.ExecuteAsync();
        if (_activeWorkout != null)
        {
            // Initialize view models for exercises and sets
            foreach (var exercise in _activeWorkout.Exercises)
            {
                var exerciseViewModel = new ExerciseViewModel(exercise);
                _exerciseViewModels.Add(exerciseViewModel);
            }

            // Start the workout timer if a workout is in progress
            _ = ExerciseTimerLoop();
        }
    }

    private async Task EndWorkout()
    {
        if (_activeWorkout != null)
        {
            await EndWorkoutUseCase.ExecuteAsync(_activeWorkout.Id);
            _activeWorkout = null;
            _exerciseDuration = TimeSpan.Zero;
            NavigationManager.NavigateTo("/workouts");
        }
    }

    private void CompleteSet(ExerciseViewModel exerciseViewModel, ExerciseSetViewModel setViewModel)
    {
        setViewModel.MarkAsCompleted();

        if (exerciseViewModel.Exercise.InitialRestTimeBetweenSets > 0)
        {
            setViewModel.RemainingRestTime = exerciseViewModel.Exercise.InitialRestTimeBetweenSets;
            _ = RestTimerLoop(setViewModel); // Start rest timer
        }
    }

    private void ResetSet(ExerciseSetViewModel setViewModel)
    {
        setViewModel.ResetSet();
    }

    private void DeleteSet(ExerciseViewModel exerciseViewModel, ExerciseSetViewModel setViewModel)
    {
        exerciseViewModel.Sets.Remove(setViewModel);
        StateHasChanged(); // Notify the UI to update
    }

    private async Task ExerciseTimerLoop()
    {
        while (_activeWorkout != null && !_activeWorkout.IsCompleted)
        {
            _exerciseDuration = DateTime.Now - _activeWorkout.StartTime;
            StateHasChanged();
            await Task.Delay(1000); // Update every second
        }
    }

    private async Task RestTimerLoop(ExerciseSetViewModel setViewModel)
    {
        // Display initial time
        StateHasChanged();

        while (_activeWorkout != null && !_activeWorkout.IsCompleted && setViewModel.IsRestTimeActive())
        {
            await Task.Delay(1000); // Wait first, then update
            setViewModel.DecrementRestTime();
            StateHasChanged(); // Notify the UI to update
        }

        // Add a small delay after reaching 0
        await Task.Delay(1000);

        setViewModel.DecrementRestTime(); // Set to -1 to hide the timer
        StateHasChanged(); // Final UI update
    }
}